/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-item {
    color: white;
    text-decoration: none;
}

.undotted-list {
    list-style: none;
}

.btn-white {
    background-color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: 0px;
}
.btn-black {
    background-color: #23272a;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: 0px;
}

.p-center {
    text-align: center;
    width: 60%;
    margin: 30px;
    line-height: 30px;
}
/* Header */

.header-top {
    background-color: #265ee9;
    height: 100px;
    display: flex;
    align-items: center;
}

.container-nav {
    background-color: #265ee9;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    height: 60px;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0 20px;
}

.width-logo-login {
    width: 15%;
}

.right {
    text-align: right;
    color: white;
}
 h1 {
     font-size: 40px;
 }
.jumbotron {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.slogan {
    width: 60%;
    height: 360px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main */
.main-container {
    height: 400px;
}

.flex-container {
    display: flex;
    margin: auto;
    width: 70%;
    height: 360px;
    padding: 20px 0;
}

article {
    width: calc( (100% / 3) * 2);
    background-color: #1d90ff;
    height: 360px;
    align-items: center;
    display: flex;
}

aside {
    width: calc(100% / 3);
    background-color: #fec1cb;
    height: 360px;
    align-items: center;
    display: flex;
}

.grey {
    background-color: grey;
}

.bigcontainer {
    height: 800px;
    display: flex;
}

.greensquare {
    width: 70%;
    height: 720px;
    margin: auto;
    background-color: green;
    display: flex;
    align-items: center;
}

/* Footer */
.footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 520px;
    display: flex;
}
.footer-top {
    display: flex;
    width: 70%;
    height: 500px
    
}

.pinkbox {
    height: 500px;
    background-color: #f08080;
    width: 40%
}
.bluebox {
    height: 500px;
    background-color: #20b2aa;
    width: 15%;
    border: 1px dashed white;   
}

.bottom-footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: black;
}

hr {
    background-color: white;
}
.container-footer {
    background-color: #7fffd4;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    height: 60px;
    align-items: center;
}
.pink-bg {
    background-color: pink;
    border: 1px dashed black
}